<div class="container-fluid">
  <h1>HORÁRIO - AULAS</h1>
  <hr>
  
  <table class="table">
    <thead>
    <tr>
      <th>Título</th>
      <th>Semana</th>
      <th>Horário</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of this.disciplina.getList(), index as i">
      <td>
        {{d.titulo}}
      </td>
      <td>
        {{d.semana}}
      </td>
      <td>
         {{d.horario}}
      </td>
      <td>
        <button (click)="this.disciplina.remove(i)">X</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="center">
  <button style="width: 200px" [routerLink]="['/disciplina']">Voltar</button>
  </div>
  </div>